<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.handy.handyvue.mapper.ScheduleMstMapper">

    <select id="selectScheduleMstList" parameterType="map" resultType="org.handy.handyvue.dto.ScheduleMstDto">
        SELECT v_schedule_id
             , v_title
             , v_cont
             , TO_CHAR(d_target_sdtm, 'YYYY-MM-DD HH24:MI:SS') as d_target_sdtm
             , TO_CHAR(d_target_sdtm, 'YYYY-MM-DD') as d_target_sdt
             , TO_CHAR(d_target_edtm, 'YYYY-MM-DD HH24:MI:SS') as d_target_edtm
             , TO_CHAR(d_target_edtm, 'YYYY-MM-DD') as d_target_edt
          FROM schedule_mst
         WHERE v_flag_del = 'N'
        <if test="selType != null and selType != ''">
            <choose>
                <when test="selType == 'month' and firstDayOfMonth != null and firstDayOfMonth != '' and lastDayOfMonth != null and lastDayOfMonth != ''">
                    AND <![CDATA[d_target_edtm >= (#{firstDayOfMonth}||' 00:00:00')::timestamp]]>
                    AND <![CDATA[d_target_sdtm <= (#{lastDayOfMonth} ||' 23:59:59')::timestamp]]>
                </when>
                <when test="selType == 'day' and selectedDate != null and selectedDate != ''">
                    AND #{selectedDate}::timestamp between d_target_sdtm::date and d_target_edtm::date
                </when>
                <when test="selType == 'detail'">
                    AND v_schedule_id = #{vScheduleId}
                </when>
            </choose>
        </if>
        ORDER BY d_target_sdtm DESC
    </select>

</mapper>